.header{
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: var(--primary-color);
  padding: 0 10px;
  height: var(--header-height);

  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  h1{
    font: var(--font-l);
    color: #3ca1f8;
  }
}